/* author : Moch Deden R S */
* {
	margin: 0px;
	padding: 0px;
}

.main {
	margin-top: 20px;
}

div.img {
    margin: 20px;
    border: 6px solid #4b4b4b;
    border-radius: 8px;
    float: left;
    width: 200px;
}

div.img:hover {
    border: 1px solid #777;
}

div.img img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

/*.container {
	margin-left: 10px;
}*/

address, #socialMedia, #contactForm {
	display: inline-block;
	margin-bottom: 100px;
	margin-left: 200px;
}

.footer > a {
	color: #766e6e;
}

.header, .footer {
	background: #000000;
  	background: -webkit-radial-gradient(#2a2626, #1e1b1b, #000000);
  	background: -o-radial-gradient(#2a2626, #1e1b1b, #000000);
  	background: -moz-radial-gradient(#2a2626, #1e1b1b, #000000);
  	background: radial-gradient(#2a2626, #1e1b1b, #000000);
	position: fixed;
	width: 100%;
	z-index: 1;
}


#indonistanLogo {
	float: left;
	margin: 2px;
	width: 100px;
	height: 100px;
}


#indonistanName {
	margin-top: 10px;
	color: white;
}


.home > img {
	float: left;
	width: 400px;
	margin-left: 6px;
}

.menu {
	color: white;
	font-size: 16px;
}

.menu:hover {
	color: #7e7d7d;
}

ul {
	float: right;
}

.menu-list {
	list-style: none;
	margin-right: 100px;
}

.container {
	position: relative;
	top: 120px;
}

.social-media {
	width: 40px;
	height: 40px;
}

#about {
	text-align: center;
	clear: left;
}


#contact > h1 {
	text-align: center;
}


.input {
	border-radius: 4px;
	width: 280px;
}

.row {
	margin-top: 60px;
}

textarea {
	height: 300px;
}

.button {
	background-color: black;
	color: white;
	cursor: pointer;
	border-radius: 10px;
	width: 100px;
}


.button:hover {
	background-color: #766e6e;
}

.footer {
	color: white;
	text-align: center;
	bottom: 0px;
	height: 24px;
}
